<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section type="CPlatform.MySection, CPlatform" name="gameSettings" />
    <section type="CPlatform.MySection, CPlatform" name="gameIndex" />
    <section type="CPlatform.MySection, CPlatform" name="serverSettings" />
    <section type="CPlatform.MySection, CPlatform" name="clientSettings" />
  </configSections>
  <appSettings>
    <add key="Code" value="lstking"/>

    <add key="user" value="ropeway"/>

    <add key="password" value="1024"/>

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <gameSettings>
    <add key="恐龙星际" value="恐龙星际"/>

    <add key="雪山" value="雪山"/>

  </gameSettings>
  <gameIndex>
    <add key="恐龙星际" value="1"/>

    <add key="雪山" value="2"/>
    <add key="game1" value="1"/>
    <add key="game2" value="3"/>
    <add key="ropeway" value="1.0.0"/>

  </gameIndex>
  <serverSettings>
    <add key="server" value="182.92.229.154"/>

    <add key="port" value="12315"/>

  </serverSettings>
  <clientSettings>
    <add key="p1" value="127.0.0.1"/>

  </clientSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>